<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>React example Blog</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.0/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.0/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.4.0/marked.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/app.css') }}" type="text/css" />
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
